<div class="todo-form-container">
  <div class="todo-form-title">
    <h1>{{ todoId ? 'Edit To Do' : 'Add To Do' }}</h1>
  </div>
  <div class="todo-item-container">
    <form [formGroup]="todoForm">
      <div class="btn-container">
        <button class="btn" (click)="saveTodo()">Save</button>
      </div>
      <div class="control-container">
        <input formControlName="label" class="input-field" type="text" placeholder="Label">
      </div>
  
      <div class="control-container">
        <select formControlName="category" class="input-field">
          <option value="house">House</option>
          <option value="bureaucracy">Bearucracy</option>
        </select>
      </div>
  
      <div class="control-container">
        <textarea formControlName="description" class="textarea-field" placeholder="Description" rows="15"></textarea>
      </div>

      <div class="control-container">
        <input formControlName="endDate" class="input-field" type="text" placeholder="End Date">
      </div>

      <div class="control-container">
        <select formControlName="status" class="input-field">
          <option value="todo">To Do</option>
          <option value="done">Done</option>
        </select>
      </div>
    </form>
  </div>
</div>